<h1>Dashboard#dashboard</h1>
<%= form_with url: search_path, method: :get, local: true do |form| %>
  <%= form.text_field :query, placeholder: 'Search...' %>
  <%= form.submit 'Search' %>
<% end %>


<%# To see the lastest ad of stages %>
<div>
  <h1>Dernières annonces</h1>
  <ul>
    <% @last_ads.each do |ad|  %>
      <li>
        <div>
          <%# <%= ad.user %>
          <%= ad.content %>
          <%= ad.created_at %>
        </div>
      </li>
      <% end %>
  </ul>
</div>

<%# To see bests stages nearest to me %>
<div>
  <h1>Scènes les mieux notées</h1>
  <ul>
    <% @best_stages.each do |stage|  %>
      <li>
        <div>
          <%# <%= cl_image_tag stage.photos.first.key %> %>
          <%= stage.name %>
          <%= stage.description %>
          <%= stage.created_at %>
        </div>
      </li>
      <% end %>
  </ul>
</div>
