<%= render("/shared/page_header", title: "Annonces") %>
<div class="ads">
  <div class="ads-filter">
    <div class="ads-filter-container">
      <%= link_to("Tous", ads_path, class: (params[:p] == "all"|| params[:p].nil?) ? "active" : "")%>
      <%= link_to("Artistes",  ads_path(p: "artists"), class: params[:p] == "artists" ? "active" : "") %>
      <%= link_to("Scènes", ads_path(p: "stages"), class: params[:p] == "stages" ? "active" : "") %>
    </div>
  </div>
  <div class="ads-container">
  <div class="tabs" data-controller="tabs">
    <div class="content" data-tabs-target="content">
      <% if params[:p] == "all"|| params[:p].nil? %>
        <% @stage_ads.each do |stage_ad| %>
        <%= render("shared/ad_card", ad:stage_ad, profile: stage_ad.stage, fill: true ) %>
        <% end %>
        <% @artist_ads.each do |artist_ad| %>
        <%= render("shared/ad_card", ad:artist_ad, profile: artist_ad.artist, fill: true ) %>
        <% end %>
      <% elsif params[:p] == "artists"%>
        <% @artist_ads.each do |artist_ad| %>
        <%= render("shared/ad_card", ad:artist_ad, profile: artist_ad.artist, fill: true ) %>
        <% end %>
      <% elsif params[:p] == "stages"%>
        <% @stage_ads.each do |stage_ad| %>
        <%= render("shared/ad_card", ad:stage_ad, profile: stage_ad.stage, fill: true ) %>
        <% end %>
      <% end %>

    </div>

  </div>

</div>
</div>
