<%= render("shared/page_header", title: "Nouvelle annonce") %>

<div class="new-ad">
  <div class="new-ad-container">

    <%= form_with model: @ad, url: create_artist_ad_ads_path, local: true do |form| %>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content, placeholder: "Quel est l'objet de l'annonce..." %>
      </div>

      <div class="field">
        <%= form.label :photo %>
        <%= form.file_field :photo, class: "custom-file-input" %>
      </div>

      <% if @ad.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @ad.errors.full_messages.each do |message| %>
          <p class= "warning-photo"><i class="fa-solid fa-circle-exclamation"></i> <%= message.split(' ')[1..].join(' ') %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

      <div class="actions">
        <%= form.submit("Publier l'annonce", class: "btn primary large") %>
      </div>
    <% end %>
  </div>
</div>
