<div class="show-content">
  <div class="show-content-header">

    <div class="show-content-header-img">
      <%# # cl_image_tag @artist.cover_img.url %>
    </div>

    <div class="show-content-photo-profil">
      <%# # cl_image_tag @artist.profile_img.url %>
    </div>

    <div class="show-content-header-info">
      <h1><%=@artist.name%></h1>
      <%# <p>add rating</p> %>
    </div>

    <div data-controller="tabs">
      <div class="navigation" >
      <ul>
      <li><%= link_to 'News', news_artist_path(@artist), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
      <li><%= link_to 'Photos', photos_artist_path(@artist), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
      <li><%= link_to 'Planning', plannings_artist_path(@artist), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
      <li><%= link_to 'About us', aboutUs_artist_path(@artist), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
      </ul>
      </div>

      <div class="content" data-tabs-target="content"></div>

    </div>


  </div>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
  </div>
