<% fill = false if local_assigns[:fill].nil? %>
<div class="<%= fill ? "m-card fill": "m-card"%>">
  <div class="card-header">
    <% if ad %>
      <%= cl_image_tag(ad.class == ArtistAd ? ad.artist.photos[0].key : ad.stage.photos[0].key, class:"avatar") %>
    <% else %>
      <div class="avatar"></div>
    <% end %>
    <div class="card-header-text-content">
      <h3><%= ad.class == ArtistAd ? ad.artist.name : ad.stage.name %></h3>
      <small>12h</small>
      <%= link_to("", ad.class == ArtistAd ? artist_path(ad.artist) : stage_path(ad.stage)) %>
    </div>
  </div>
  <div class="card-body">
    <p><%= ad.content %></p>
    <%= cl_image_tag(ad.photo ? ad.photo.key : ad.class == ArtistAd ? ad.artist.photos[1] : ad.stage.photos[1], class:"card-image") %>
  </div>
</div>
