<% artist_stage = nil if local_assigns[:artist_stage].nil? %>
<div class="profile">
  <div class="profile-container">
  <div class="profile-header">
    <% if artist_stage %>
        <%= cl_image_tag(artist_stage.photos[1].key, class: "profile-cover") %>
    <% else %>
      <div class="profile-cover"></div>
    <% end %>
    <div class="profile-data">
      <% if artist_stage %>
        <%= cl_image_tag(artist_stage.photos[0].key, class: "profile-photo") %>
      <% else %>
        <div class="profile-photo"></div>
      <% end %>
      <div class="profile-info">
        <h2><%= artist_stage ? artist_stage.name :  "La petite cuite"%></h2>
        <p class='address'><i class="fa-solid fa-location-dot"></i> <%= artist_stage ? artist_stage.address :  "13 boulevard de la bonne bière"%></p>
        <p class="rating"><i class="fa-solid fa-star"></i> 4,3</p>
      </div>
    </div>
    <div class="profile-navigation">
      <div class="secondary-nav">
        <div class="secondary-nav-container">
          <%= link_to("ACTUALITES",
            artist_stage ?
              (artist_stage.class == Artist ? artist_path(artist_stage.id, p: "news") :
              stage_path(artist_stage.id, p: "news")) :
              "", class: (params[:p] == "news" || params[:p].nil?) ? "active" : "")
          %>
          <%= link_to("PHOTOS",
            artist_stage ?
            (artist_stage.class == Artist ? artist_path(artist_stage.id, p: "photos") :
            stage_path(artist_stage.id, p: "photos")) :
            "", class: params[:p] == "photos" ? "active" : "")
          %>
          <%= link_to("PLANNNING",
            artist_stage ?
            (artist_stage.class == Artist ? artist_path(artist_stage.id, p: "planning") :
            stage_path(artist_stage.id, p: "planning")) :
            "", class: params[:p] == "planning" ? "active" : "")
          %>
          <%= link_to("A PROPOS",
            artist_stage ?
            (artist_stage.class == Artist ?
            artist_path(artist_stage.id, p: "about") :
            stage_path(artist_stage.id, p: "about")) :
            "", class: params[:p] == "about" ? "active" : "")
          %>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <% if params[:p] == "news" || params[:p].nil? %>
      <div class="profile-news">
        <% if artist_stage.class == Artist %>
          <% artist_stage.artist_ads.each do |ad| %>
            <%= render("shared/ad_card", ad: ad, profile: artist_stage, fill: true) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
