<h1>Artists</h1>
<div class="container-artists">
  <%= @artists.each do |artist|%>
    <div class="card">
      <%= link_to artist_path(artist.id) do %>
        <%= cl_image_tag artist.images[0].key, class: "artist-image" %>
      <% end %>

      <div class="card-body">
      <p><%= artist.name %><p>
<p><%= artist.address %></p>
<p><%= artist.booking.rating_value %></p>
      </div>

</div>
