
<div class="search">
  <div class="search-container">
    <%= render("shared/page_header", title: "Recherche") %>
    <%= form_with url: search_path, method: :get, local: true do |form| %>
  <%= form.text_field :query, placeholder: 'Artiste...', class: "input-text" %>
  <%= form.submit 'Rechercher', class: "btn primary" %>
<% end %>

  <% if @query == "" %>
  <h1>Search Resdivts for "<%= @query %>"</h1>
  <% end %>

    <% if @artists.present? %>
      <h2 class= "title-marge-top">Artistes</h2>
      <div class= "gap-card-container">
        <% @artists.each do |artist| %>
          <%= render "shared/artist_stage_card", profile: artist, fill: true %>
        <% end %>
      </div>
    <% end %>

    <% if @stages.present? %>
      <h2 class= "title-marge-top">Scènes</h2>
      <div class= "gap-card-container">
        <% @stages.each do |stage| %>
          <%= render "shared/artist_stage_card", profile: stage, fill: true %>
        <% end %>
      </div>
    <% end %>

    <% if @artist_ads.present?  %>
      <h2 class= "title-marge-top">Annonces</h2>
      <div class= "gap-card-container">
        <% @artist_ads.each do |ad| %>
          <%= render "shared/ad_card", ad: ad, fill: true %>
        <% end %>
      </div>
    <% end %>

    <% if @stage_ads.present? %>
      <%# <h2 class= "title-marge-top">Annonces</h2> %>
      <div class= "gap-card-container">
        <% @stage_ads.each do |ad| %>
      <%= render "shared/ad_card", ad: ad, fill: true %>
        <% end %>
      </div>
    <% end %>

    <% if @artists.empty? && @stages.empty? && @stage_ads.empty? && @artist_ads.empty? %>
      <p>Rien, pour le moment.</p>
    <% end %>

  </div>
</div>
