<div class="show-content">
  <div class="show-content-header">

    <div class="show-content-header-img">
      <%# # cl_image_tag @stage.cover_img.url %>
    </div>

    <div class="show-content-photo-profil">
      <%# # cl_image_tag @stage.profile_img.url %>
    </div>

    <div class="show-content-header-info">
      <h1><%=@stage.name%></h1>
      <%# <p>add rating</p> %>
    </div>

    <div class="edit-profi">
      <%# <%= link_to 'Edit', edit_stage_path(@stage) %>
    </div>

    <div data-controller="tabs">
      <div class="navigation" >
        <ul>
          <li><%= link_to 'News', news_stage_path(@stage), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
          <li><%= link_to 'Photos', photos_stage_path(@stage), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
          <li><%= link_to 'Planning', plannings_stage_path(@stage), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
          <li><%= link_to 'About us', aboutUs_stage_path(@stage), data: { action: 'click->tabs#load', tabs_target: 'link' } %></li>
        </ul>
      </div>

      <div class="content" data-tabs-target="content"></div>
    </div>

  </div>

<%= link_to 'Back', stages_path %>
  </div>
