<!DOCTYPE html>
<html>
  <head>
    <title>Onstage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
      <%= render 'shared/ios_pwa_links' %>

      <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
      <link href="/assets/myicon.ico" rel="shortcut icon" type="image/x-icon" />
      <link href="/assets/mb-icon.png" rel="apple-touch-icon" type="image/png" />

      <!– Facebook Open Graph data –>
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= image_url('cover.png') %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= "OnStage" %>" />
  </head>
  <body>

      <%= yield %>

    <%= render("/shared/nav", current_path: request.path) if ["/dashboard", "/map", "/bookings", "/conversations"].include?(request.path) %>
  </body>
</html>
